
* {

    margin: 0;
    background-color: transparent;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgba(133, 133, 133, 0.027);
    color: #333;
    margin: 10px;
    background-image: url(./img/remada.JPG);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-attachment: scroll;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 30px;
    
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.projeto {
    margin-bottom: 20px;
}

.projeto h3 {
    font-size: 18px;
}

.projeto img {
    max-width: 100%;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    section {
        padding: 10px;
    }
}